name: Windows VPS via Ngrok
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Ngrok
        run: choco install ngrok -y

      - name: Authenticate Ngrok
        run: ngrok config add-authtoken ${{ secrets.NGROK_AUTH_TOKEN }}

      - name: Enable Remote Desktop (RDP)
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          # Tắt xác thực NLA để tránh lỗi "Credentials did not work"
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 0

      - name: Force Update Admin Password
        # Dùng PowerShell để ép đổi pass mà không quan tâm lỗi user tồn tại hay chưa
        run: |
          $Password = ConvertTo-SecureString "Password123!" -AsPlainText -Force
          $User = "runneradmin"
          # Đổi pass cho user có sẵn
          net user $User Password123!
          # Đảm bảo user thuộc nhóm Admin
          net localgroup administrators $User /add
          Write-Host "Da thiet lap mat khau moi thanh cong!"
        continue-on-error: true

      - name: Start Ngrok Tunnel
        run: |
          Start-Process Powershell -ArgumentList "-NoExit -Command ""ngrok tcp --region ap 3389"""
          Start-Sleep -Seconds 20

      - name: Get RDP Address
        run: |
          $response = curl.exe -s http://127.0.0.1:4040/api/tunnels | ConvertFrom-Json
          $public_url = $response.tunnels[0].public_url
          Write-Host "===================================================="
          Write-Host "ADDRESS: $public_url"
          Write-Host "USER: .\runneradmin"
          Write-Host "PASS: Password123!"
          Write-Host "===================================================="

      - name: Keep Alive (6 hours)
        run: Start-Sleep -Seconds 21600
