name: Windows VPS via Cloudflare Tunnel
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Cloudflared
        run: choco install cloudflared -y

      - name: Enable Remote Desktop (RDP)
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          # Tắt xác thực NLA để tránh lỗi đăng nhập từ xa
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 0

      - name: Set Admin Password
        run: |
          $Password = "Password123!"
          $User = "runneradmin"
          net user $User $Password
          net localgroup administrators $User /add
        continue-on-error: true

      - name: Run Cloudflare Tunnel
        run: |
          Write-Host "Dang khoi tao Tunnel voi Token cua ban..."
          # Luu y: Ban phai tao CLOUDFLARE_TUNNEL_TOKEN trong GitHub Secrets
          cloudflared tunnel --no-autoupdate run --token ${{ secrets.CLOUDFLARE_TUNNEL_TOKEN }}
