name: Windows VPS via Ngrok
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

    - name: Install Ngrok
        run: choco install ngrok
        
      # Lưu ý: Khi cài qua choco, lệnh gọi ngrok sẽ không cần .\ nữa
      - name: Authenticate Ngrok
        run: ngrok config add-authtoken ${{ secrets.NGROK_AUTH_TOKEN }}

      - name: Start Ngrok Tunnel
        run: |
          Start-Process Powershell -ArgumentList "-NoExit -Command ""ngrok tcp 3389"""
          Start-Sleep -Seconds 10

      - name: Enable RDP
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 1

      - name: Create User
        run: |
          net user runneradmin Password123! /add
          net localgroup administrators runneradmin /add

      - name: Start Ngrok Tunnel
        run: |
          Start-Process Powershell -ArgumentList "-NoExit -Command ".\ngrok.exe tcp 3389""
          Start-Sleep -Seconds 10

      - name: Get RDP Address
        run: |
          $tunnels = curl.exe -s http://127.0.0.1:4040/api/tunnels | ConvertFrom-Json
          $public_url = $tunnels.tunnels[0].public_url
          Write-Host "--------------------------------------------"
          Write-Host "Dia chi RDP: $public_url"
          Write-Host "User: runneradmin"
          Write-Host "Pass: Password123!"
          Write-Host "--------------------------------------------"

      - name: Keep Alive
        run: Start-Sleep -Seconds 21600
